.flex{
    display: flex;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.jusitfy-right{
    justify-content: right;
}

.justify-between{
    justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}
.logo{
    width: 80px;
    height: 80px;
}

.flex-wrap{
    flex-wrap: wrap;
}
h1{
    font-size: 3rem;
    font-family: 'Montserrat';
    line-height: 5rem;
}

h2{
    font-family: 'Montserrat';
    font-size: 2rem;
    line-height: 4rem;
}


a{
    text-decoration: none;
    color: inherit;
}

.text-center{
    text-align: center;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}


.wrapper{
    width: 1400px;
    margin: 0 auto;                        
}

.gap-1{
    gap: 1rem;
}

.gap-2{
    gap: 2rem;
}

.relative{
    position: relative;
}

.color-highlight{
    color: var(--light-blue);
}


.color-highlight2{
    color: var(--sea-green);
}

.color-highlight3{
    color: var(--white);
}

.block{
    display: block;
}

.p-1{
    padding: 1rem;
}

.pointer{
    cursor: pointer;
}


.hide{
    display: none !important;
}